/* EX02 WD2 Rita Soares */

/*FONTES UTILIZADAS, variable fonts do Google*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body, hr{
  margin: 0 auto;
}

header{
  background-color: #F5F5F5;
  padding-bottom: 5vw;
  padding-top: 2vw;
}

h1{
  padding-top: 3vw;
  padding-bottom: 2vw;
  font-size: 5vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
}

h2{
  font-family: 'Figtree', sans-serif;
  margin-left: 5.2vw;
  font-size: 3vw;
  font-weight: 800;
}

h2:hover{
  transition-duration: 3s;
  font-weight: 300;
}




img{
  max-width: 100%;
  height: auto;
  margin-right: 3.5vw;
}

.bio{
  width: 40vw;
  padding: 0;
  display: inline-block;
  margin-left: 5.2vw;
}


.image{
float: right;
overflow: hidden;
max-width: 35vw;
}

p{
  font-family: 'Figtree', sans-serif;

}

.button{
  cursor: pointer;
  height: 5vw;
  width: 7vw;
  background-color: #F5F5F5;
  outline: none;
  border: none;
  margin: 0 auto;
  border-radius: 10px;
  font-family: 'Figtree', sans-serif;
  text-align: center;
  margin: 0 auto;
}

.button:hover{
  background-color: #e0e0e0;
}

#kimYears{
  margin: 0 auto;
  text-align: center;
}

#clickButtons{
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
  font-size: 2.3vw;
}


#autoMsg{
  margin: 0 auto;
  text-align: center;
  line-height: 0.6vw;
  padding-top: 2.5vw;
}

.autograph{
  font-family: 'Shadows Into Light', cursive;
  font-weight: 500;
  font-size: 2vw;
  letter-spacing: 0.08vw;
}

#autograph1{
  width: 20vw;
  padding-left: 5vw;
}

#khloeAutograph{
  cursor: pointer;
  height: 4vw;
  width: 25vw;
  background-color: #F5F5F5;
  outline: none;
  border: none;
  margin: 0 auto;
  margin-top: 2.5vw;
  margin-bottom: 5vw;
  margin-left: 8vw;
  text-align: center;
  border-radius: 10px;
  font-family: 'Figtree', sans-serif;
}

#khloeAutograph:hover{
  background-color: #e0e0e0;
}

#btn{
  cursor: pointer;
  height: 5vw;
  width: 20vw;
  background-color: #F5F5F5;
  outline: none;
  border: none;
  margin: 0 auto;
  font-family: 'Figtree', sans-serif;
  margin-top: 2.5vw;
  border-radius: 10px;
  text-align: center;
}

#btn:hover{
  background-color: #e0e0e0;
}

#output{
  width: 50%;
  font-family: 'Noto Serif Display', serif;
  font-size: 2vw;
  font-weight: 400;
  font-size: 2.5vw;
  font-style: italic;
  position: absolute;
  padding-top: 5vw;
  padding-left: 10vw;
  text-align: center;
}

aside, .footer{
  font-family: 'Figtree', sans-serif;
  text-align: center;
  font-size: 1vw;
  line-height: 0.5vw;
}

.footer{
  padding-bottom: 4vw;
}

a:link, a:visited {
  color: black;
  font-family: 'Figtree', sans-serif;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
